.banner{
     background-color: springgreen;
     width:100%;
     height:100px;
     margin-bottom:50px;
}

.banner-text{
     padding:15px;


}
.navbar {
      background-color: springgreen;
      color: #ffffff;
      height: 120px;
      position: static;
      padding-bottom: 70px;
      font-size: 24px; /* Adjust the value as needed */
      padding-top: 20px; /* Adjust the value as needed */
}
.navbar-brand {
      font-weight: bold;
}
.nav-link {
      color:  #6B6FD6;
}

