{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <div class="card border">
          <div class="card-header text-black text-center">
            <h3>Task Update</h3>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{ f.as_p }}
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-block mt-4">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
